<div class="menu">
    <header class="menu__header">
        @if (category()?.image){
            <img [src]="category()?.image" [alt]="category()?.name">
                <h1 class="menu__category-title">{{ category()?.name }}</h1>
        }
        @else {
            <div class="skeleton">
                <h1 class="menu__category-title">{{ category()?.name }}</h1>
            </div>
        }
        
    </header>

    <div class="menu__grid">
            @for (product of products.products(); track product.id) {
                <app-category-card class="menu__product" [product]="product"></app-category-card>
            }
    </div>
</div>

<app-tap-bar></app-tap-bar>